openapi: 3.2.0
info:
  title: Splio Customer Platform Coupon API
  description: API Documentation for Splio Customer Platform
  version: 1.0.0
servers:
- url: https://api.splio.com
- url: http://api.splio.com
tags:
- name: Coupon
paths:
  /data/coupons/categories:
    get:
      summary: Get coupon categories with stats
      description: Get coupon categories with stats.
      parameters:
      - name: per_page
        in: query
        required: false
        description: Number of items displayed per page.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: page_number
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Get coupon categories List.
          content:
            application/json:
              examples:
                response:
                  value:
                    count_element: 3
                    current_page: 1
                    per_page: 50
                    sort:
                      category: ASC
                    elements:
                    - category: birthday
                      total: 100
                      available: 10
                      expired: 20
                      assigned: 70
                    - category: gift
                      total: 50
                      available: 0
                      expired: 25
                      assigned: 25
                    - category: prospect
                      total: 20
                      available: 5
                      expired: 0
                      assigned: 15
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Coupon
      security:
      - Bearer: []
      operationId: getDataCouponsCategories
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      description: "For accessing the API a valid JWT token must be passed in all requests in\nthe 'Authorization' header.\n\n\nA valid JWT token is generated by the Authorization API and returned as answer of a call\nto the route /authenticate giving a valid user, password & universe.\n\n\nThe following syntax must be used in the 'Authorization' header :\n\n    Bearer xxxxxx.yyyyyyy.zzzzzz\n"
      type: http
      scheme: bearer
      bearerFormat: JWT
x-origin:
- url: https://api.splio.com/doc.json
  format: swagger
  version: '2.0'
  converter:
    url: https://github.com/mermade/oas-kit
    version: 7.0.8
