openapi: 3.2.0
info:
  title: Splio Coupon API
  version: 1.0.0
  description: 'Operations tagged Coupon across 2 of this provider''s published API definitions: splio-doc-swagger2.json, splio-customer-platform-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.splio.com
- url: http://api.splio.com
tags:
- name: Coupon
paths:
  /data/coupons/categories:
    get:
      summary: Get coupon categories with stats
      description: Get coupon categories with stats.
      parameters:
      - name: per_page
        in: query
        required: false
        description: Number of items displayed per page.
        schema:
          type: integer
          default: 50
          maximum: 1000
          minimum: 1
      - name: page_number
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          default: 1
          minimum: 1
      responses:
        '200':
          description: Get coupon categories List.
          content:
            application/json:
              example:
                count_element: 3
                current_page: 1
                per_page: 50
                sort:
                  category: ASC
                elements:
                - category: birthday
                  total: 100
                  available: 10
                  expired: 20
                  assigned: 70
                - category: gift
                  total: 50
                  available: 0
                  expired: 25
                  assigned: 25
                - category: prospect
                  total: 20
                  available: 5
                  expired: 0
                  assigned: 15
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              example:
                status: 400
                errors:
                - error_key: field_1
                  error: wrong_value
                  error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Coupon
      security:
      - Bearer: []
    servers:
    - url: https://api.splio.com
    - url: http://api.splio.com
components:
  securitySchemes:
    Bearer:
      name: Authorization
      type: apiKey
      in: header
      description: "For accessing the API a valid JWT token must be passed in all requests in\nthe 'Authorization' header.\n\n\nA valid JWT token is generated by the Authorization API and returned as answer of a call\nto the route /authenticate giving a valid user, password & universe.\n\n\nThe following syntax must be used in the 'Authorization' header :\n\n    Bearer xxxxxx.yyyyyyy.zzzzzz\n"
x-refined-from:
- splio-doc-swagger2.json
- splio-customer-platform-openapi.json
