openapi: 3.2.0
info:
  title: Splio Customer Platform Reward stock and codes API
  description: API Documentation for Splio Customer Platform
  version: 1.0.0
servers:
- url: https://api.splio.com
- url: http://api.splio.com
tags:
- name: Reward stock and codes
paths:
  /loyalty/rewards/{id}/instances/send:
    post:
      summary: Upload a reward’s codes
      description: Add personalized codes to generate new instances of a reward. This is suitable for rewards that are not autogenerated and are limited.
      parameters:
      - name: id
        in: path
        required: true
        description: Reward external identifier.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                codes:
                  items:
                    type: string
                  type: array
              type: object
        description: Add personalized codes for a given reward.
        required: true
      responses:
        '200':
          description: Instances are being added.
          content:
            application/json:
              examples:
                response:
                  value:
                    process_uuid: 99d39528-48ff-440d-8275-fed084a6528a
                    status: in progress
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
        '404':
          description: Reward not found.
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 404
                    errors:
                    - error_key: reward_id
                      error: wrong_value
                      error_description: Reward not found for given identifier.
      tags:
      - Reward stock and codes
      security:
      - Bearer: []
      operationId: postLoyaltyRewardsByIdInstancesSend
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      description: "For accessing the API a valid JWT token must be passed in all requests in\nthe 'Authorization' header.\n\n\nA valid JWT token is generated by the Authorization API and returned as answer of a call\nto the route /authenticate giving a valid user, password & universe.\n\n\nThe following syntax must be used in the 'Authorization' header :\n\n    Bearer xxxxxx.yyyyyyy.zzzzzz\n"
      type: http
      scheme: bearer
      bearerFormat: JWT
x-origin:
- url: https://api.splio.com/doc.json
  format: swagger
  version: '2.0'
  converter:
    url: https://github.com/mermade/oas-kit
    version: 7.0.8
