{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Campaign API"},"servers":[{"url":"https://api.splio.com/campaign"}],"tags":[],"paths":{"/v1/one-shot/stop/{id}":{},"/v1/one-shot":{"post":{"summary":"New Endpoint","description":"This is your first endpoint! Edit this page to start documenting your API.","operationId":"get_new-endpoint","responses":{"200":{"description":"Campaign created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","description":"Campaign's ID"},"name":{"type":"string","description":"Name of the campaign"},"filter_id":{"type":"number","description":"Target filter's ID"},"design_id":{"type":"string","description":"Design's ID (uuid)"},"Status":{"type":"string","enum":["PUBLISHED","SENT","STOPPED","UNDER_REVIEW","SENDING"]}},"required":["id","name","filter_id","design_id","Status"]},"examples":{"OK":{"summary":"OK","value":{"id":1,"name":"My first campaign","filter_id":1,"design_id":"b9f4b713-1526-48f3-988b-2fad32e1399b","send_date":{"datetime":"2025-11-28 10:00","timezone":"Europe/Paris"},"status":"PUBLISHED"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","default":"Constraint Violation"},"status":{"type":"string","default":"400"},"violations":{"type":"array","items":{"properties":{"field":{"type":"string","description":"Field"},"message":{"type":"string","description":"Error message"}},"type":"object","required":["field","message"]}}},"required":["title","status","violations"]}}}}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","default":"","description":"Name of the campaign"},"filter_id":{"type":"integer","description":"Target filter's ID"},"design_id":{"type":"string","description":"Design's ID (uuid)"},"send_date":{"type":"object","properties":{"datetime":{"type":"string","description":"Send date (ex: 2025-11-28 10:00)"},"timezone":{"type":"string","description":"Timezone (ex: Europe/Paris)"}},"required":["datetime","timezone"]}},"required":["name","filter_id","send_date","design_id"]},"examples":{"New Example":{"summary":"New Example","value":{"name":"My first campaign","filter_id":1,"design_id":"b9f4b713-1526-48f3-988b-2fad32e1399b","send_date":{"datetime":"2025-11-28 10:00","timezone":"Europe/Paris"}}}}}}}}}},"components":{"securitySchemes":{"Token":{"type":"http","scheme":"bearer"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true},"security":[{"Token":[]}]}