openapi: 3.2.0
info:
  title: Splio Customer Platform Filter API
  description: API Documentation for Splio Customer Platform
  version: 1.0.0
servers:
- url: https://api.splio.com
- url: http://api.splio.com
tags:
- name: Filter
paths:
  /target/filters/{scope}:
    get:
      summary: Get filters
      description: Get filters based on scope.
      parameters:
      - name: scope
        in: path
        required: true
        description: 'Filter scope : contacts, products, stores, orders, baskets, loyalty, rewards.'
        schema:
          type: string
          enum:
          - contacts
          - products
          - stores
          - orders
          - baskets
          - loyalty
          - rewards
      - name: status
        in: query
        required: false
        description: 'Filter status : all, active, inactive, idle, favorite'
        schema:
          type: string
          enum:
          - all
          - active
          - inactive
          - idle
          - favorite
      responses:
        '200':
          description: Filter retrieval is successful.
          content:
            application/json:
              examples:
                response:
                  value:
                    count_element: 1
                    current_page: 1
                    per_page: 50
                    sort: []
                    elements:
                    - intid: 1
                      id: 1
                      name: 'Filter #123'
                      nb_binded_members: null
                      tags:
                      - purchase
                      - sales
                      updated_at: '2025-04-01 00:00:00'
                      status: active
                      is_favorite: false
                      nb_emails: 315
                      nb_sms: 80
                      is_protected: false
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Filter
      security:
      - Bearer: []
      operationId: getTargetFiltersByScope
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      description: "For accessing the API a valid JWT token must be passed in all requests in\nthe 'Authorization' header.\n\n\nA valid JWT token is generated by the Authorization API and returned as answer of a call\nto the route /authenticate giving a valid user, password & universe.\n\n\nThe following syntax must be used in the 'Authorization' header :\n\n    Bearer xxxxxx.yyyyyyy.zzzzzz\n"
      type: http
      scheme: bearer
      bearerFormat: JWT
x-origin:
- url: https://api.splio.com/doc.json
  format: swagger
  version: '2.0'
  converter:
    url: https://github.com/mermade/oas-kit
    version: 7.0.8
