{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Campaign API (v1)"},"servers":[{"url":"https://api.splio.com/campaign-api"}],"tags":[],"paths":{"/v1/one-shot/{id}":{"get":{"summary":"New Endpoint","description":"This is your first endpoint! Edit this page to start documenting your API.","operationId":"get_new-endpoint","responses":{"200":{"description":"Successful response","content":{"application/json":{"examples":{"OK":{"summary":"OK","value":{"id":1,"name":"Campaign","filter_id":5725,"design_id":"66d46406-e95f-43e3-98f3-c5dd2db7ea4c","send_date":{"datetime":"2025-11-28 10:00","timezone":"Europe/Paris"},"status":"PUBLISHED","category":"Newsletter"}}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Campaign"},"filter_id":{"type":"integer","example":5725,"default":0},"design_id":{"type":"string","example":"66d46406-e95f-43e3-98f3-c5dd2db7ea4c"},"send_date":{"type":"object","properties":{"datetime":{"type":"string","example":"2025-11-28 10:00"},"timezone":{"type":"string","example":"Europe/Paris"}},"required":["datetime","timezone"]},"status":{"type":"string","example":"PUBLISHED","enum":["PUBLISHED","SENDING","UNDER_REVIEW","STOPPED","SENT"]},"category":{"type":"string","description":"Campaign's category"}},"required":["id","name","filter_id","design_id","send_date","status","category"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{}},"examples":{"Not Found":{"summary":"Not Found","value":"{}"}}}},"description":"Not Found"}},"parameters":[{"in":"path","name":"id","schema":{"type":"integer"},"required":true}]}},"/v1/one-shot":{"post":{"description":"","operationId":"get_v1one-shot","responses":{"200":{"description":"","content":{"application/json":{"examples":{"OK":{"summary":"OK","value":{"id":1,"name":"Campaign","filter_id":5725,"design_id":"66d46406-e95f-43e3-98f3-c5dd2db7ea4c","send_date":{"datetime":"2025-11-28 10:00","timezone":"Europe/Paris"},"status":"PUBLISHED","category":"Newsletter"}}},"schema":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"name":{"type":"string","example":"Campaign"},"filter_id":{"type":"integer","example":5725,"default":0},"design_id":{"type":"string","example":"66d46406-e95f-43e3-98f3-c5dd2db7ea4c"},"send_date":{"type":"object","properties":{"datetime":{"type":"string","example":"2025-11-28 10:00"},"timezone":{"type":"string","example":"Europe/Paris"}},"required":["datetime","timezone"]},"status":{"type":"string","example":"PUBLISHED","enum":["PUBLISHED","SENDING","UNDER_REVIEW","STOPPED","SENT"]},"category":{"type":"string","description":"Campaign's category"}},"required":["id","name","filter_id","design_id","send_date","status","category"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","example":"Constraint Violation","default":"Constraint Violation"},"status":{"type":"integer","example":400,"default":"400"},"violations":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","example":"filter_id","description":"Field in error"},"message":{"type":"string","example":"field is mandatory","description":"Error message"}},"required":["field","message"]}}},"required":["violations"]},"examples":{"Bad Request":{"summary":"Bad Request","value":{"title":"Constraint Violation","status":400,"violations":[{"field":"filter_id","message":"field is mandatory"}]}}}}},"description":"Bad Request"}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name your One-shot campaign"},"filter_id":{"type":"integer","description":"Choose one target filter"},"design_id":{"type":"string","description":"Email design's ID (uuid)"},"send_date":{"type":"object","properties":{"datetime":{"type":"string","description":"Date on which the campaign will be sent (format YYYY-MM-DD HH:mm)"},"timezone":{"type":"string","description":"Timezone (ex: Europe/Paris)"}},"required":["timezone","datetime"]},"category":{"type":"string","description":"Campaign's category"}},"required":["name","filter_id","design_id","send_date"]},"examples":{"Payload example":{"summary":"Payload example","value":{"name":"Campaign","filter_id":1,"design_id":"66d46406-e95f-43e3-98f3-c5dd2db7ea4c","send_date":{"datetime":"2025-11-28 10:00","timezone":"Europe/Paris"}}}}}}}}},"/v1/one-shot/stop/{id}":{"post":{"description":"","operationId":"post_v1one-shotstop{id}","responses":{"202":{"description":"Campaign stopped","content":{}},"404":{"description":"Not Found","content":{}}},"parameters":[{"in":"path","name":"id","schema":{"type":"integer"},"required":true,"description":"Campaign ID"}]}}},"components":{"securitySchemes":{"Authorization":{"type":"http","scheme":"bearer"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true},"security":[{"Authorization":[]}]}