openapi: 3.2.0
info:
  title: Splio Customer Platform Fields API
  description: API Documentation for Splio Customer Platform
  version: 1.0.0
servers:
- url: https://api.splio.com
- url: http://api.splio.com
tags:
- name: Fields
paths:
  /data/fields:
    post:
      summary: Create a custom field
      description: Create a custom field.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - scope
              - name
              - type
              properties:
                scope:
                  example: contacts
                  type: string
                  enum:
                  - contacts
                  - stores
                  - products
                  - order_products
                  - orders
                  - rewards
                  - loyalty
                name:
                  example: my_field_name
                  type: string
                type:
                  example: text
                  type: string
                  enum:
                  - date
                  - text
                  - int
                  - double
              type: object
        description: Custom fields data.
        required: true
      responses:
        '201':
          description: Custom field creation is successful.
          content:
            application/json:
              examples:
                response:
                  value:
                    id: 9
                    name: store_code
                    data_type: text
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Fields
      security:
      - Bearer: []
      operationId: postDataFields
      x-operation-id-source: derived
  /data/fields/{scope}/{id}:
    delete:
      summary: Delete a custom field
      description: Delete a custom field.
      parameters:
      - name: id
        in: path
        required: true
        description: Custom field identifier. This is NOT the custom field's name. For custom field c5, identifier is 5.
        schema:
          type: string
      - name: scope
        in: path
        required: true
        description: Custom field scope.
        schema:
          type: string
          enum:
          - contacts
          - stores
          - products
          - order_products
          - orders
          - rewards
          - loyalty
      responses:
        '204':
          description: Deletion is successful.
          content:
            application/json:
              examples:
                response:
                  value: []
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
        '404':
          description: Custom field not found.
      tags:
      - Fields
      security:
      - Bearer: []
      operationId: deleteDataFieldsByScopeById
      x-operation-id-source: derived
  /data/fields/contacts:
    get:
      summary: Get contact's fields
      description: Get contact's fields.
      responses:
        '200':
          description: Contacts fields retrieval is successful.
          content:
            application/json:
              examples:
                response:
                  value:
                    count_element: 2
                    current_page: 1
                    per_page: 100
                    sort:
                      id: DESC
                    elements:
                    - intid: null
                      id: 0
                      is_system: true
                      filling: 80
                      unique_values: 1700
                      name: ext_id
                      translation_key: external_id
                      label: External ID
                      field_key: ext_id
                    - intid: 1
                      id: 1
                      is_system: false
                      filling: 80
                      unique_values: 1700
                      name: civility
                      translation_key: civility
                      label: civility
                      field_key: civility
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Fields
      security:
      - Bearer: []
      operationId: getDataFieldsContacts
      x-operation-id-source: derived
  /data/fields/orders:
    get:
      summary: List order's fields
      description: Get the list of order's fields.
      parameters:
      - name: per_page
        in: query
        required: false
        description: Number of items displayed per page.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: page_number
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Orders fields retrieval is successful.
          content:
            application/json:
              examples:
                response:
                  value:
                    count_element: 2
                    current_page: 1
                    per_page: 100
                    sort:
                      id: DESC
                    elements:
                    - intid: null
                      id: 0
                      is_system: true
                      filling: 80
                      unique_values: 1700
                      name: ext_id
                      translation_key: external_id
                      label: External ID
                      field_key: ext_id
                    - intid: null
                      id: 0
                      is_system: true
                      filling: null
                      unique_values: null
                      name: id_mec
                      translation_key: id_mec
                      label: Contact ID
                      field_key: contact_id
                    - intid: 1
                      id: 1
                      is_system: false
                      filling: 80
                      unique_values: 1700
                      name: civility
                      translation_key: civility
                      label: civility
                      field_key: civility
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Fields
      security:
      - Bearer: []
      operationId: getDataFieldsOrders
      x-operation-id-source: derived
  /data/fields/order-lines:
    get:
      summary: List ordered product's fields
      description: Get the list of ordered product's fields.
      parameters:
      - name: per_page
        in: query
        required: false
        description: Number of items displayed per page.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: page_number
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Ordered products fields retrieval is successful.
          content:
            application/json:
              examples:
                response:
                  value:
                    count_element: 2
                    current_page: 1
                    per_page: 100
                    sort:
                      id: DESC
                    elements:
                    - intid: null
                      id: 0
                      is_system: true
                      filling: 80
                      unique_values: 1700
                      name: ext_id
                      translation_key: external_id
                      label: External ID
                      field_key: ext_id
                    - intid: 1
                      id: 1
                      is_system: false
                      filling: 80
                      unique_values: 1700
                      name: civility
                      translation_key: civility
                      label: civility
                      field_key: civility
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Fields
      security:
      - Bearer: []
      operationId: getDataFieldsOrderLines
      x-operation-id-source: derived
  /data/fields/products:
    get:
      summary: List product's fields
      description: Get the list of product's fields.
      parameters:
      - name: per_page
        in: query
        required: false
        description: Number of items displayed per page.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: page_number
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Products fields retrieval is successful.
          content:
            application/json:
              examples:
                response:
                  value:
                    count_element: 2
                    current_page: 1
                    per_page: 100
                    sort:
                      id: DESC
                    elements:
                    - intid: null
                      id: 0
                      is_system: true
                      filling: 80
                      unique_values: 1700
                      name: ext_id
                      translation_key: external_id
                      label: External ID
                      field_key: ext_id
                    - intid: 1
                      id: 1
                      is_system: false
                      filling: 80
                      unique_values: 1700
                      name: civility
                      translation_key: civility
                      label: civility
                      field_key: civility
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Fields
      security:
      - Bearer: []
      operationId: getDataFieldsProducts
      x-operation-id-source: derived
  /data/fields/rewards:
    get:
      summary: List reward's fields
      description: Get the list of reward's fields.
      parameters:
      - name: per_page
        in: query
        required: false
        description: Number of items displayed per page.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: page_number
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Rewards fields retrieval is successful.
          content:
            application/json:
              examples:
                response:
                  value:
                    count_element: 2
                    current_page: 1
                    per_page: 100
                    sort:
                      id: DESC
                    elements:
                    - intid: null
                      id: 0
                      is_system: true
                      filling: 80
                      unique_values: 1700
                      name: ext_id
                      translation_key: external_id
                      label: External ID
                      field_key: ext_id
                    - intid: 1
                      id: 1
                      is_system: false
                      filling: 80
                      unique_values: 1700
                      name: civility
                      translation_key: civility
                      label: civility
                      field_key: civility
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Fields
      security:
      - Bearer: []
      operationId: getDataFieldsRewards
      x-operation-id-source: derived
  /data/fields/members:
    get:
      summary: List loyalty member's fields
      description: Get the list of loyalty member's fields.
      parameters:
      - name: per_page
        in: query
        required: false
        description: Number of items displayed per page.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: page_number
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Loyalty members fields retrieval is successful.
          content:
            application/json:
              examples:
                response:
                  value:
                    count_element: 2
                    current_page: 1
                    per_page: 100
                    sort:
                      id: DESC
                    elements:
                    - intid: null
                      id: 0
                      is_system: true
                      filling: 80
                      unique_values: 1700
                      name: ext_id
                      translation_key: external_id
                      label: External ID
                      field_key: ext_id
                    - intid: 1
                      id: 1
                      is_system: false
                      filling: 80
                      unique_values: 1700
                      name: civility
                      translation_key: civility
                      label: civility
                      field_key: civility
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Fields
      security:
      - Bearer: []
      operationId: getDataFieldsMembers
      x-operation-id-source: derived
  /data/fields/stores:
    get:
      summary: List store's fields
      description: Get the list of store's fields.
      parameters:
      - name: per_page
        in: query
        required: false
        description: Number of items displayed per page.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: page_number
        in: query
        required: false
        description: Page number.
        schema:
          type: integer
          minimum: 1
          default: 1
      responses:
        '200':
          description: Stores fields retrieval is successful.
          content:
            application/json:
              examples:
                response:
                  value:
                    count_element: 2
                    current_page: 1
                    per_page: 100
                    sort:
                      id: DESC
                    elements:
                    - intid: null
                      id: 0
                      is_system: true
                      filling: 80
                      unique_values: 1700
                      name: ext_id
                      translation_key: external_id
                      label: External ID
                      field_key: ext_id
                    - intid: 1
                      id: 1
                      is_system: false
                      filling: 80
                      unique_values: 1700
                      name: civility
                      translation_key: civility
                      label: civility
                      field_key: civility
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - Fields
      security:
      - Bearer: []
      operationId: getDataFieldsStores
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      description: "For accessing the API a valid JWT token must be passed in all requests in\nthe 'Authorization' header.\n\n\nA valid JWT token is generated by the Authorization API and returned as answer of a call\nto the route /authenticate giving a valid user, password & universe.\n\n\nThe following syntax must be used in the 'Authorization' header :\n\n    Bearer xxxxxx.yyyyyyy.zzzzzz\n"
      type: http
      scheme: bearer
      bearerFormat: JWT
x-origin:
- url: https://api.splio.com/doc.json
  format: swagger
  version: '2.0'
  converter:
    url: https://github.com/mermade/oas-kit
    version: 7.0.8
