openapi: 3.2.0
info:
  title: Splio Customer Platform General API
  description: API Documentation for Splio Customer Platform
  version: 1.0.0
servers:
- url: https://api.splio.com
- url: http://api.splio.com
tags:
- name: General
paths:
  /authenticate:
    post:
      summary: Authentication
      description: Get a valid JSON Web Token. This token, prefixed by 'Bearer ', can be used to call other endpoints for 24 hours.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - api_key
              - password
              properties:
                api_key:
                  description: Api key available in the api users list of your universe. Please refer to your universe's administrator to retrieve an api key.
                  example: XXXXYYYYZZZZ
                  type: string
              type: object
        description: Use an api key to get a JWT token valid for 24 hours. Universe's api keys are manageable in the admin section, refer to your universe's administrator to get one.
        required: true
      responses:
        '200':
          description: Api key is recognized, user is successfully authenticated. This token, prefixed by 'Bearer ', can be used to call other endpoints for 24 hours.
          content:
            application/json:
              examples:
                response:
                  value:
                    token: XXXXXXXXYYYYYYYYYYZZZZZZZZZZZZ
        '400':
          description: Authentication failed.
      tags:
      - General
      operationId: postAuthenticate
      x-operation-id-source: derived
  /ping:
    get:
      summary: Ping
      description: Test that the API is responding to your requests.
      responses:
        '200':
          description: Service up and running.
          content:
            application/json:
              examples:
                response:
                  value:
                    user_id: 123
        '400':
          description: The request validation failed.
          x-readme: BODYBODY
          content:
            application/json:
              examples:
                response:
                  value:
                    status: 400
                    errors:
                    - error_key: field_1
                      error: wrong_value
                      error_description: The request was malformed and it is unable to be processed. Please review and try again.
        '401':
          description: Authentication failed.
        '403':
          description: Forbidden.
      tags:
      - General
      security:
      - Bearer: []
      operationId: getPing
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      description: "For accessing the API a valid JWT token must be passed in all requests in\nthe 'Authorization' header.\n\n\nA valid JWT token is generated by the Authorization API and returned as answer of a call\nto the route /authenticate giving a valid user, password & universe.\n\n\nThe following syntax must be used in the 'Authorization' header :\n\n    Bearer xxxxxx.yyyyyyy.zzzzzz\n"
      type: http
      scheme: bearer
      bearerFormat: JWT
x-origin:
- url: https://api.splio.com/doc.json
  format: swagger
  version: '2.0'
  converter:
    url: https://github.com/mermade/oas-kit
    version: 7.0.8
