{"openapi":"3.0.0","info":{"description":"API documentation for interactions api","title":"Interactions API","version":"1.0.0"},"paths":{"/events/":{"post":{"tags":["Interactions"],"security":[{"Bearer":[]}],"summary":"Post a new interaction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventPayload"}}},"description":"representing informations for interaction we want to post"},"responses":{"201":{"description":"the interaction posted","content":{"application/json":{"examples":{"response":{"value":{"channel":"email","event":"click","ext_id":"ext_1324","ext_provider":"default","id":9,"individual_id":46,"source_date":"2018-01-01 15:45:23","source_id":"23456","source_type":"email","value_date":"2018-01-01 15:45:23"}}}}}},"400":{"description":"One of element on the payload is not valid","content":{"application/json":{"examples":{"response":{"value":{"error":"invalid_ext_id","error_description":"the ext_id `wrong extid` is not valid","error_key":"ext_id"}}}}}},"401":{"description":"Not authorized to post interaction","content":{"application/json":{"examples":{"response":{"value":{"error":"authentication_required","error_description":"Full authentication is required to access this resource.","error_key":""}}}}}}}}},"/events/bulk":{"post":{"tags":["Interactions"],"security":[{"Bearer":[]}],"summary":"Post a bulk of interactions","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"events":{"type":"array","items":{"$ref":"#/components/schemas/EventPayload"}}}}}},"description":"representing a batch of interactions to post, each element of batch represents same information as post endpoint for one interaction"},"responses":{"200":{"description":"bulk response included status for each interaction sent","content":{"application/json":{"examples":{"response":{"value":{"errors":1,"items":[{"code":201,"description":"","ext_id":"ext_250","ext_provider":"magento"},{"code":201,"description":"","ext_id":"ext_251","ext_provider":"magento"},{"code":400,"description":"the key ext_id,ext_provider already exists","ext_id":"ext_252","ext_provider":"magento"}],"time":345}}}}}},"401":{"description":"Not authorized to post interaction","content":{"application/json":{"examples":{"response":{"value":{"error":"authentication_required","error_description":"Full authentication is required to access this resource.","error_key":""}}}}}}}}}},"servers":[{"url":"https://api.splio.com"},{"url":"http://api.splio.com"}],"components":{"securitySchemes":{"Bearer":{"description":"For accessing the API a valid JWT token must be passed in all requests in\nthe 'Authorization' header.\n\n\nA valid JWT token is generated by the Authorization API and returned as answer of a call\nto the route /authenticate giving a valid user, password & universe.\n\n\nThe following syntax must be used in the 'Authorization' header :\n\n    Bearer xxxxxx.yyyyyyy.zzzzzz\n","type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"EventPayload":{"type":"object","required":["individual_id","channel","event","value_date"],"properties":{"channel":{"description":"The channel for interaction posted. If no channel is identifiable then use `custom channel`","type":"string","enum":["email","sms","wechat oa","Wechat mp","x-channel","facebook","twitter","instagram","custom channel"],"example":"email"},"event":{"type":"string","example":"order"},"ext_id":{"description":"unique value from provider","type":"string","example":"ext_1324"},"ext_provider":{"description":"provider name or splio provider if not defined","type":"string","example":"magento"},"individual_id":{"description":"unique key representing individual or contact, depending on channel","type":"string","example":"test@test.com"},"source_date":{"type":"string","example":"2019-01-01 12:23:23"},"source_id":{"type":"string","example":"456"},"source_type":{"type":"string","example":"order"},"value_date":{"type":"string","example":"2019-01-01 12:23:23"}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}