{"openapi":"3.0.0","info":{"contact":{},"title":"Content API","version":"1.0.0"},"servers":[{"url":"https://api.splio.com/content","description":"Production server"}],"security":[{"BearerAuth":[]}],"paths":{"/v1/create-email-design":{"post":{"description":"Create email_design content from HTML or ZIP file and return the UUID of the created content.\n\n**ZIP File Structure:**\nWhen uploading a ZIP file, it must follow this structure:\n```\ndesign.zip\n├── index.html or mail.html         (required - main HTML file)\n└── images/             (optional - image assets folder)\n    ├── logo.png\n    ├── banner.jpg\n    └── icon.gif\n```\n\n**Supported image formats:** PNG, JPG, JPEG, AVIF, GIF, JFIF, WEBP, WOFF\n\n**Requirements:**\n- ZIP file must contain `index.html` at the root level\n- All images should be placed in the `images/` folder or directly on the root level `./`\n- Image references in HTML should use relative paths: `images/filename.ext`","tags":["Builder"],"summary":"Create email_design content from HTML or ZIP file","parameters":[],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"description":"HTML or ZIP file","type":"string","format":"binary"},"name":{"description":"Content name","type":"string","example":"My email design"},"language":{"description":"Content language","type":"string","enum":["ar","ca","zh","tc","cz","nl","en","fr","de","gr","it","jp","kr","pl","br","ru","es","tr","other"],"example":"en"},"sender_name":{"description":"Email sender name","type":"string","example":"pophat"},"subject":{"description":"Email subject","type":"string","example":"Winter is coming!"},"sender_email":{"description":"Email sender email","type":"string","example":"pophat@splio.com"},"reply_to":{"description":"Email reply address","type":"string","example":"pophat@splio.com"},"file_type":{"description":"File type: html or zip","type":"string","enum":["html","zip"],"example":"html"},"disable_utm_tracking":{"description":"Optional flag to disable UTM tracking. Set to the string \"true\" to disable.","type":"string","enum":["true","false"],"example":"false"}},"required":["file","name","language","sender_name","subject","sender_email","file_type"]}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gitlab.com_splio-org_messaging_content-api_builder.PostCreateEmailDesignResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/middleware.GinError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/middleware.GinError"}}}}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Provide your JSON Web Token in the Authorization header using the Bearer scheme. Example: Bearer {{ jwt }}"}},"schemas":{"gitlab.com_splio-org_messaging_content-api_builder.PostCreateEmailDesignResponse":{"type":"object","properties":{"uuid":{"type":"string"}}},"middleware.GinError":{"type":"object","properties":{"error":{"type":"string"}}}}}}