{"swagger":"2.0","info":{"title":"Splio Customer Platform","description":"API Documentation for Splio Customer Platform","version":"1.0.0"},"host":"api.splio.com","schemes":["https","http"],"paths":{"\/authenticate":{"post":{"summary":"Authentication","description":"Get a valid JSON Web Token. This token, prefixed by \u0027Bearer \u0027, can be used to call other endpoints for 24 hours.","parameters":[{"name":"user","in":"body","required":true,"description":"Use an api key to get a JWT token valid for 24 hours. Universe\u0027s api keys are manageable in the admin section, refer to your universe\u0027s administrator to get one.","schema":{"required":["api_key","password"],"properties":{"api_key":{"description":"Api key available in the api users list of your universe. Please refer to your universe\u0027s administrator to retrieve an api key.","example":"XXXXYYYYZZZZ","type":"string"}},"type":"object"}}],"responses":{"200":{"description":"Api key is recognized, user is successfully authenticated. This token, prefixed by \u0027Bearer \u0027, can be used to call other endpoints for 24 hours.","examples":{"application\/json":{"token":"XXXXXXXXYYYYYYYYYYZZZZZZZZZZZZ"}}},"400":{"description":"Authentication failed."}},"tags":["General"]}},"\/universes\/consumption":{"get":{"summary":"Get the universe\u0027s consumption","description":"Get the current universe email and sms consumption statistics for the last year.","responses":{"200":{"description":"Universe\u0027s consumption stats retrieval is successful.","examples":{"application\/json":{"sms_credit":5000,"usage30d":null,"max_sms_volume_30d":null,"sms_postpaid":false,"stats":[{"individuals":60,"emails_sent":0,"emails_tried":0,"sms_tried":0,"sms_sent":128,"fwd_sms":5128,"fwd_email":1400526,"date":"2017-07-04T18:02:34+0200"},{"individuals":50,"emails_sent":0,"emails_tried":0,"sms_tried":0,"sms_sent":42,"fwd_sms":542,"fwd_email":798397,"date":"2017-08-04T18:02:34+0200"},{"individuals":42,"emails_sent":0,"emails_tried":0,"sms_tried":0,"sms_sent":30,"fwd_sms":530,"fwd_email":902221,"date":"2017-09-04T18:02:34+0200"},{"individuals":3,"emails_sent":0,"emails_tried":0,"sms_tried":0,"sms_sent":4,"fwd_sms":54,"fwd_email":908242,"date":"2017-10-04T18:02:34+0200"},{"individuals":2,"emails_sent":0,"emails_tried":0,"sms_tried":0,"sms_sent":2,"fwd_sms":52,"fwd_email":890781,"date":"2017-11-04T18:02:34+0100"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Universe"],"security":[{"Bearer":[]}]}},"\/data\/fields":{"post":{"summary":"Create a custom field","description":"Create a custom field.","parameters":[{"name":"payload","in":"body","required":true,"description":"Custom fields data.","schema":{"required":["scope","name","type"],"properties":{"scope":{"example":"contacts","type":"string","enum":["contacts","stores","products","order_products","orders","rewards","loyalty"]},"name":{"example":"my_field_name","type":"string"},"type":{"example":"text","type":"string","enum":["date","text","int","double"]}},"type":"object"},"type":"object"}],"responses":{"201":{"description":"Custom field creation is successful.","examples":{"application\/json":{"id":9,"name":"store_code","data_type":"text"}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Fields"],"security":[{"Bearer":[]}]}},"\/data\/fields\/{scope}\/{id}":{"delete":{"summary":"Delete a custom field","description":"Delete a custom field.","parameters":[{"name":"id","in":"path","required":true,"description":"Custom field identifier. This is NOT the custom field\u0027s name. For custom field c5, identifier is 5.","type":"string"},{"name":"scope","in":"path","required":true,"description":"Custom field scope.","type":"string","enum":["contacts","stores","products","order_products","orders","rewards","loyalty"]}],"responses":{"204":{"description":"Deletion is successful.","examples":{"application\/json":[]}},"404":{"description":"Custom field not found."},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Fields"],"security":[{"Bearer":[]}]}},"\/data\/fields\/contacts":{"get":{"summary":"Get contact\u0027s fields","description":"Get contact\u0027s fields.","responses":{"200":{"description":"Contacts fields retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"per_page":100,"sort":{"id":"DESC"},"elements":[{"intid":null,"id":0,"is_system":true,"filling":80,"unique_values":1700,"name":"ext_id","translation_key":"external_id","label":"External ID","field_key":"ext_id"},{"intid":1,"id":1,"is_system":false,"filling":80,"unique_values":1700,"name":"civility","translation_key":"civility","label":"civility","field_key":"civility"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Fields"],"security":[{"Bearer":[]}]}},"\/data\/fields\/orders":{"get":{"summary":"List order\u0027s fields","description":"Get the list of order\u0027s fields.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Orders fields retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"per_page":100,"sort":{"id":"DESC"},"elements":[{"intid":null,"id":0,"is_system":true,"filling":80,"unique_values":1700,"name":"ext_id","translation_key":"external_id","label":"External ID","field_key":"ext_id"},{"intid":null,"id":0,"is_system":true,"filling":null,"unique_values":null,"name":"id_mec","translation_key":"id_mec","label":"Contact ID","field_key":"contact_id"},{"intid":1,"id":1,"is_system":false,"filling":80,"unique_values":1700,"name":"civility","translation_key":"civility","label":"civility","field_key":"civility"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Fields"],"security":[{"Bearer":[]}]}},"\/data\/fields\/order-lines":{"get":{"summary":"List ordered product\u0027s fields","description":"Get the list of ordered product\u0027s fields.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Ordered products fields retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"per_page":100,"sort":{"id":"DESC"},"elements":[{"intid":null,"id":0,"is_system":true,"filling":80,"unique_values":1700,"name":"ext_id","translation_key":"external_id","label":"External ID","field_key":"ext_id"},{"intid":1,"id":1,"is_system":false,"filling":80,"unique_values":1700,"name":"civility","translation_key":"civility","label":"civility","field_key":"civility"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Fields"],"security":[{"Bearer":[]}]}},"\/data\/fields\/products":{"get":{"summary":"List product\u0027s fields","description":"Get the list of product\u0027s fields.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Products fields retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"per_page":100,"sort":{"id":"DESC"},"elements":[{"intid":null,"id":0,"is_system":true,"filling":80,"unique_values":1700,"name":"ext_id","translation_key":"external_id","label":"External ID","field_key":"ext_id"},{"intid":1,"id":1,"is_system":false,"filling":80,"unique_values":1700,"name":"civility","translation_key":"civility","label":"civility","field_key":"civility"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Fields"],"security":[{"Bearer":[]}]}},"\/data\/fields\/rewards":{"get":{"summary":"List reward\u0027s fields","description":"Get the list of reward\u0027s fields.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Rewards fields retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"per_page":100,"sort":{"id":"DESC"},"elements":[{"intid":null,"id":0,"is_system":true,"filling":80,"unique_values":1700,"name":"ext_id","translation_key":"external_id","label":"External ID","field_key":"ext_id"},{"intid":1,"id":1,"is_system":false,"filling":80,"unique_values":1700,"name":"civility","translation_key":"civility","label":"civility","field_key":"civility"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Fields"],"security":[{"Bearer":[]}]}},"\/data\/fields\/members":{"get":{"summary":"List loyalty member\u0027s fields","description":"Get the list of loyalty member\u0027s fields.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Loyalty members fields retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"per_page":100,"sort":{"id":"DESC"},"elements":[{"intid":null,"id":0,"is_system":true,"filling":80,"unique_values":1700,"name":"ext_id","translation_key":"external_id","label":"External ID","field_key":"ext_id"},{"intid":1,"id":1,"is_system":false,"filling":80,"unique_values":1700,"name":"civility","translation_key":"civility","label":"civility","field_key":"civility"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Fields"],"security":[{"Bearer":[]}]}},"\/data\/fields\/stores":{"get":{"summary":"List store\u0027s fields","description":"Get the list of store\u0027s fields.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Stores fields retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"per_page":100,"sort":{"id":"DESC"},"elements":[{"intid":null,"id":0,"is_system":true,"filling":80,"unique_values":1700,"name":"ext_id","translation_key":"external_id","label":"External ID","field_key":"ext_id"},{"intid":1,"id":1,"is_system":false,"filling":80,"unique_values":1700,"name":"civility","translation_key":"civility","label":"civility","field_key":"civility"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Fields"],"security":[{"Bearer":[]}]}},"\/universes\/unique-key":{"get":{"summary":"Get the universe\u0027s unique key","description":"Get the current universe unique key for contacts. It can be either the email, the cellphone or a custom field.","responses":{"200":{"description":"Universe unique_key retrieval is successful.","examples":{"application\/json":{"unique_key":"c0"}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Universe"],"security":[{"Bearer":[]}]}},"\/ping":{"get":{"summary":"Ping","description":"Test that the API is responding to your requests.","responses":{"200":{"description":"Service up and running.","examples":{"application\/json":{"user_id":123}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["General"],"security":[{"Bearer":[]}]}},"\/reports\/smtprelay\/{action_id}\/recipients":{"get":{"summary":"List recipients of a forward campaign","description":"List recipients of a campaign.","parameters":[{"name":"action_id","in":"path","required":true,"description":"Campaign action\u0027s id.","type":"string"},{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":20,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Recipients of a smtp relay campaign.","examples":{"application\/json":{"count_element":61,"current_page":3,"per_page":2,"elements":[{"id":6,"extid":"6","rcpt":"john_smith@mymail.com","subject":"new products","status":"done","smtpmsg":"250 2.0.0 OK 1456470112 lp7si14301264wjb.73 - gsmtp","openings":2,"last_open_date":"2018-09-13 09:00:00","clicks":null,"last_click_date":null,"unsub":null,"spam_complaint":null,"sales_count":null,"sales_amount":null},{"id":7,"extid":"7ert4","rcpt":"joe_dalton@softmail.com","subject":"new products","status":"hard","smtpmsg":"550 Requested action not taken: mailbox unavailable","openings":null,"last_open_date":null,"clicks":null,"last_click_date":null,"unsub":null,"spam_complaint":null,"sales_count":1,"sales_amount":275}]}}},"404":{"description":"Action not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"action_id","error":"wrong_value","error_description":"Campaign not found for action_id 50."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Export"],"security":[{"Bearer":[]}]}},"\/data\/blacklists\/cellphones":{"get":{"summary":"Get blacklisted cellphones","description":"Get blacklisted cellphones.","parameters":[{"name":"source","in":"query","required":false,"description":"Source of blacklisted cellphones. By default blacklisted cellphones of all source are returned.","type":"string","enum":["custom","stop","soft","bounce"]},{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"term","in":"query","required":false,"description":"Filter results on a specific value.","type":"string"}],"responses":{"200":{"description":"Blacklists retrieval is successful.","examples":{"application\/json":{"count_element":1,"current_page":1,"per_page":50,"sort":[],"elements":[{"number":"33614021388","creation_date":"2017-05-09","source":"custom"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Blacklist"],"security":[{"Bearer":[]}]}},"\/data\/blacklists\/{channel}":{"post":{"summary":"Add touchpoint(s) in a custom blacklist","description":"Add touchpoint(s) in a custom blacklist.","parameters":[{"name":"channel","in":"path","required":true,"description":"Touchpoint channel : *email* or *cellphone*.","type":"string","enum":["cellphone","email"]},{"name":"payload","in":"body","required":true,"description":"Touchpoints to add to blacklist.","schema":{"required":["data"],"properties":{"data":{"items":{"type":"string"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"200":{"description":"Blacklisting touchpoint(s) is successful.","examples":{"application\/json":{"successes":["1234@test.com","456@test.com"],"failures":[]}}},"207":{"description":"Blacklisting touchpoint(s) is partially successful.","examples":{"application\/json":{"successes":["1234@test.com","456@test.com"],"failures":[{"touchpoint":"john@doe.com","error":"Touchpoint john@doe.com is already blacklisted.","error_key":"touchpoint_already_exist"}]}}},"400":{"description":"Blacklisting touchpoint(s) failed.","examples":{"application\/json":{"successes":[],"failures":[{"touchpoint":"john@doe.com","error":"Touchpoint john@doe.com is already blacklisted.","error_key":"touchpoint_already_exist"}]}}},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Blacklist"],"security":[{"Bearer":[]}]}},"\/data\/blacklists\/{channel}\/{source}":{"delete":{"summary":"Delete touchpoint(s) from blacklist","description":"Delete touchpoint(s) from blacklist.","parameters":[{"name":"channel","in":"path","required":true,"description":"Touchpoint channel : *email* or *cellphone*.","type":"string","enum":["cellphone","email"]},{"name":"source","in":"path","required":true,"description":"Touchpoint source : *custom* or *unsub* (only available for email channel) or *all* (custom + unsub).","type":"string","enum":["custom","unsub","all"]},{"name":"body","in":"body","required":true,"description":"data.","schema":{"required":["data"],"properties":{"data":{"items":{"type":"string"},"type":"array"}},"type":"object"}}],"responses":{"200":{"description":"Deleting touchpoint(s) from blacklist is successful.","examples":{"application\/json":{"successes":["1234@test.com","456@test.com"],"failures":[]}}},"207":{"description":"Deleting touchpoint(s) from blacklist is partially successful.","examples":{"application\/json":{"successes":["1234@test.com","456@test.com"],"failures":[{"touchpoint":"john@doe.com","error":"Touchpoint john@doe.com not found in custom blacklist.","error_key":"touchpoint_not_blacklisted"}]}}},"400":{"description":"Blacklisting touchpoint(s) failed.","examples":{"application\/json":{"successes":[],"failures":[{"touchpoint":"john@doe.com","error":"Touchpoint john@doe.com not found in custom blacklist.","error_key":"touchpoint_not_blacklisted"}]}}},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Blacklist"],"security":[{"Bearer":[]}]}},"\/data\/blacklists\/emails":{"get":{"summary":"Get blacklisted emails","description":"Get blacklisted emails.","parameters":[{"name":"source","in":"query","required":false,"description":"Source of blacklisted emails. By default blacklisted emails of all source are returned.","type":"string","enum":["custom","unsub","soft","fbl","bounce"]},{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"term","in":"query","required":false,"description":"Filter results on a specific value.","type":"string"}],"responses":{"200":{"description":"Blacklists retrieval is successful.","examples":{"application\/json":{"count_element":1,"current_page":1,"per_page":50,"sort":[],"elements":[{"number":"john@doe.com","creation_date":"2017-05-09","source":"custom"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Blacklist"],"security":[{"Bearer":[]}]}},"\/data\/contacts":{"get":{"summary":"List \u0026 search contacts","description":"Get the list of contacts and search for contacts","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":20,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of the field, the operator and the searched value. It will return contacts matched to your search. fields available on search in contacts are \u0027unique key\u0027, \u0027firstname\u0027, \u0027lastname\u0027, \u0027creation date\u0027, \u0027language\u0027, \u0027email\u0027, \u0027cellphone\u0027, \u0027custom fields\u0027 (using cXX with XX being the custom field ID) and \u0027card code\u0027 (with loyalty option).","items":{"example":[{"key":"lastname","operator":"equal","value":"Doe"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["key","firstname","lastname","creation_date","language","email","cellphone","card code"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array","format":"application\/json","collectionFormat":"multi"}],"responses":{"200":{"description":"the retrieval of contacts search and their subscriptions and loyalty informations.","examples":{"application\/json":{"count_element":2,"current_page":1,"per_page":50,"sort":[],"elements":[{"id":1,"lastname":"Doe","firstname":"John","email":"jdoe@personal.com","cellphone":"","date_added":"2019-01-03","language":"fr","custom_fields":[{"id":0,"name":"civility","value":"mr","data_type":""}],"lists":[{"id":50,"name":"List1"}],"loyalty":[]},{"id":2,"lastname":"Doe","firstname":"Jane","email":"janedoe@personal.com","cellphone":"","creation_date":"2015-03-01","language":"fr","custom_fields":[{"id":0,"name":"civility","value":"mme","data_type":""}],"lists":[{"id":51,"name":"List2"}],"loyalty":[{"card_code":"33010000001","id_program":"1"}]}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]},"post":{"summary":"Create a contact","description":"Create a contact.","parameters":[{"name":"body","in":"body","required":true,"description":"Individual data.","schema":{"description":"Following the configuration set on the universe, the mandatory field should email OR cellphone OR unique_key","properties":{"lastname":{"example":"Doe","type":"string"},"firstname":{"example":"John","type":"string"},"creation_date":{"description":"This date of creation of this contact, will be used for trigger campaigns, Ex: Welcome email. Warning the timezone set for this date is the user api timezone and not the system timezone.","example":"2018-01-24 15:00:00","type":"string","pattern":"^\\d\\d\\d\\d-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9]):([0-9]|[0-5][0-9])$"},"language":{"description":"en, fr, it, es, ...","example":"en","type":"string"},"email":{"example":"jdoe@mysite.com","type":"string"},"cellphone":{"example":"+331122334455","type":"string"},"lists":{"example":[{"id":25,"name":"newsletter shoes"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"}},"type":"object"},"type":"array"},"double_optin":{"description":"[Optional] **Require subscribers to confirm their subscription by sending a confirmation request.**\u003Cbr \/\u003E\n     \u003Cbr \/\u003E\n     **Legacy Version**\u003Cbr \/\u003E\n     - `message`: id of the message that must be sent. This message must contain a link to $confirmUrl$\u003Cbr \/\u003E\n     - `reminder`: id of the reminder message. This message must contain $confirmUrl$ as well.\u003Cbr \/\u003E\n     - `reminder_delay`: if you want a reminder to be sent, specify the number of days between the first message and the reminder.\u003Cbr \/\u003E\n     ```\n     {\n          \u0022message\u0022: \u0022aw94xefgh\u0022,\n          \u0022reminder\u0022: \u002294was76ef\u0022,\n          \u0022reminder_delay\u0022: 34\n     }\n     ```\n     \u003Cbr \/\u003E\n     \u003Cbr \/\u003E\n     **Splio Edition 2025**\u003Cbr \/\u003E\n     - `enabled`: Enable double optin\u003Cbr \/\u003E\n     ```\n     {\n          \u0022enabled\u0022: true\n     }```","type":"object"},"custom_fields":{"description":"Custom fields settings","example":[{"name":"foo","value":"bar"},{"name":"foo2","value":"bar2"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"value":{"description":"The custom field value, can be an integer, a float, a string or a date at format YYYY-MM-DD HH:MM:SS, depending on the configuration of the custom field","type":"string"}},"type":"object"},"type":"array"},"tracking_consent":{"description":"[Optional] Track consent events for this contact. Each entry records a consent state change. The date is interpreted in the universe timezone.","example":[{"channel":"email","scope":"open","enabled":true,"date":"2026-07-01 10:00:00"}],"items":{"properties":{"channel":{"description":"Consent channel. Currently only \u0027email\u0027 is supported.","example":"email","type":"string"},"scope":{"description":"Consent scope. Currently only \u0027open\u0027 is supported.","example":"open","type":"string"},"enabled":{"description":"Consent state: true = opted in, false = opted out.","example":true,"type":"boolean"},"source":{"description":"[Optional] Source of the consent action.","example":"shopify","type":"string"},"date":{"description":"[Optional] Date of the consent action in format YYYY-MM-DD HH:mm:ss (universe timezone). Defaults to current date if not provided.","example":"2026-07-01 10:00:00","type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}],"responses":{"201":{"description":"contact creation is successful.","examples":{"application\/json":{"id":1,"lastname":"Doe","firstname":"John","email":"jdoe@personal.com","cellphone":"","creation_date":"2018-01-24 15:00:00","language":"fr","custom_fields":[{"id":0,"name":"civility","value":"mr","data_type":""}],"lists":[{"id":50,"name":"List1"},{"id":51,"name":"List2"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/bulk":{"post":{"summary":"Create bulk of contacts","description":"Create bulk of contacts (max 1000).","parameters":[{"name":"body","in":"body","required":true,"description":"Contacts data.","schema":{"properties":{"contacts":{"items":{"description":"Following the configuration set on the universe, the mandatory field should email OR cellphone OR unique_key","properties":{"lastname":{"example":"Doe","type":"string"},"firstname":{"example":"John","type":"string"},"creation_date":{"description":"This date of creation of this contact, will be used for trigger campaigns. Ex: Welcome email. Warning the timezone set for this date is the user api timezone and not the system timezone.","example":"2018-01-24 15:00:00","type":"string","pattern":"^\\d\\d\\d\\d-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9]):([0-9]|[0-5][0-9])$"},"language":{"description":"en, fr, it, es, ...","example":"en","type":"string"},"email":{"example":"jdoe@mysite.com","type":"string"},"cellphone":{"example":"+331122334455","type":"string"},"lists":{"example":[{"id":25,"name":"newsletter shoes"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"}},"type":"object"},"type":"array"},"double_optin":{"description":"[Optional] **Require subscribers to confirm their subscription by sending a confirmation request.**\u003Cbr \/\u003E\n     \u003Cbr \/\u003E\n     **Legacy Version**\u003Cbr \/\u003E\n     - `message`: id of the message that must be sent. This message must contain a link to $confirmUrl$\u003Cbr \/\u003E\n     - `reminder`: id of the reminder message. This message must contain $confirmUrl$ as well.\u003Cbr \/\u003E\n     - `reminder_delay`: if you want a reminder to be sent, specify the number of days between the first message and the reminder.\u003Cbr \/\u003E\n     ```\n     {\n          \u0022message\u0022: \u0022aw94xefgh\u0022,\n          \u0022reminder\u0022: \u002294was76ef\u0022,\n          \u0022reminder_delay\u0022: 34\n     }\n     ```\n     \u003Cbr \/\u003E\n     \u003Cbr \/\u003E\n     **Splio Edition 2025**\u003Cbr \/\u003E\n     - `enabled`: Enable double optin\u003Cbr \/\u003E\n     ```\n     {\n          \u0022enabled\u0022: true\n     }```","type":"object"},"custom_fields":{"example":[{"name":"foo","value":"bar"},{"name":"foo2","value":"bar2"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"value":{"description":"The custom field value, can be an integer, a float, a string or a date at format YYYY-MM-DD HH:MM:SS, depending on the configuration of the custom field","type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":"array"}},"type":"object"}}],"responses":{"207":{"description":"contacts creation is successful.","examples":{"application\/json":{"time":59,"errors":1,"items":[{"contact_id":"hhogan@gmail.com","code":400,"description":"Contact with unique key hhogan@gmail.com already exists"},{"contact_id":"jdoe@msn.com","code":201,"description":""}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]},"delete":{"summary":"Delete bulk of contacts","description":"Asynchronous delete bulk of contacts (max 1000).","parameters":[{"name":"payload","in":"body","required":true,"description":"contacts unique keys that will be deleted.","schema":{"properties":{"contacts":{"example":["jdoe@gmail.com","jane@gmail.com","martin@gmail.com","pierce@gmail.com"],"items":{"description":"an array of all contact unique keys to remove, the number of elements accepted is between 1 and 1000","type":"string"},"type":"array"}},"type":"object"}}],"responses":{"207":{"description":"contacts deletion is successful.","examples":{"application\/json":{"time":59,"errors":1,"items":[{"contact_id":"jdoe@yahoo.com","code":404,"description":"Contact not found for id jdoe@gmail.com."},{"contact_id":"jdoe@msn.com","code":204,"description":""}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/{id}\/activities":{"get":{"summary":"Get a contact\u0027s activities","description":"Get a contact activities based on its unique_key.","parameters":[{"name":"id","in":"path","required":true,"description":"Contact\u0027s unique key.","type":"string"},{"name":"channel","in":"query","required":false,"description":"Activity channel. By default all channels are returned","type":"string","enum":["email","sms","x_channel","fwd_email"]},{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":20,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Contact\u0027s activity retrieval is successful.","examples":{"application\/json":{"count_element":1,"current_page":1,"per_page":50,"elements":[{"channel":"email","contact":null,"channel_details_id":"6CsVXxX4D","channel_details_name":"Winter\u0027s VIP Campaign","event_type":"system","event":"opened","value_date":"2019-08-29 00:00:00","source_id":"6CsVatjvl","source_name":"[Template] 20% CGX","source_type":"standard","source_date":"2020-12-23 11:58:16"}]}}},"404":{"description":"Contact not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Individual not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/optout":{"post":{"summary":"Optout contacts","description":"Optout contacts from all the lists (max 1000).","parameters":[{"name":"payload","in":"body","required":true,"description":"contacts unique keys that will be opted out.","schema":{"properties":{"contacts":{"example":["jdoe@gmail.com","jane@gmail.com","martin@gmail.com","pierce@gmail.com"],"items":{"description":"an array of all contact unique keys to optout, the number of elements accepted is between 1 and 1000","type":"string"},"type":"array"}},"type":"object"}}],"responses":{"207":{"description":"contacts optout is successful.","examples":{"application\/json":{"time":59,"errors":1,"items":[{"contact_id":"jdoe@yahoo.com","code":404,"description":"Contact not found for id jdoe@gmail.com."},{"contact_id":"jdoe@msn.com","code":200,"description":""}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/coupons\/categories":{"get":{"summary":"Get coupon categories with stats","description":"Get coupon categories with stats.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Get coupon categories List.","examples":{"application\/json":{"count_element":3,"current_page":1,"per_page":50,"sort":{"category":"ASC"},"elements":[{"category":"birthday","total":100,"available":10,"expired":20,"assigned":70},{"category":"gift","total":50,"available":0,"expired":25,"assigned":25},{"category":"prospect","total":20,"available":5,"expired":0,"assigned":15}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Coupon"],"security":[{"Bearer":[]}]}},"\/data\/v1\/lists":{"get":{"summary":"List membership lists","description":"Get the list of lists.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1}],"responses":{"200":{"description":"Lists retrieval is successful.","examples":{"application\/json":{"count_element":1,"current_page":1,"per_page":50,"sort":{"id":"desc"},"elements":[{"id":1,"name":"news shoes","members":4000,"nb_emails":3700,"nb_sms":700,"is_displayed_by_default":true,"is_selected_by_default":false}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/v1\/orders":{"get":{"summary":"List orders","description":"Get the list of orders.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of field, operator and searched value. It will return orders that matched your search. Fields available on search in orders are \u0027external_id\u0027, \u0027shipping_amount\u0027, \u0027discount_amount\u0027, \u0027total_price\u0027, \u0027tax_amount\u0027, \u0027currency\u0027, \u0027sales_person\u0027, \u0027created_at\u0027, \u0027ordered_at\u0027 and custom fields numbers (0, 1, 2, ...)","items":{"example":[{"key":"external_id","operator":"equal","value":"CGX00000945842"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["external_id","shipping_amount","discount_amount","total_price","tax_amount","currency","sales_person","created_at","ordered_at"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array"}],"responses":{"200":{"description":"Orders retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"sort":{"id":"desc"},"elements":[{"external_id":3,"created_at":"2017-12-26 10:09:12","ordered_at":"2017-12-26 10:09:12","shipping_amount":15.24,"discount_amount":0,"total_price":1337.42,"tax_amount":0.5,"currency":"EUR","sales_person":"John Doe","contact":{"id":5,"contact_id":"jdoe@email.com","name":"Doe","firstname":"John"},"store":{"external_id":"5","name":"champs \u00e9lys\u00e9e"},"custom_fields":[{"id":0,"name":"id_mail","value":"S2G1190284746300227"},{"id":1,"name":"id_lien","value":"N1190284R746383111"}]}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]},"post":{"summary":"Create an order\/cart","description":"Create an order or an abandoned cart.","parameters":[{"name":"payload","in":"body","required":true,"description":"Order data.","schema":{"required":["external_id","store_external_id","contact_id"],"properties":{"external_id":{"example":"my_order_123","type":"string"},"contact_id":{"example":"jdoe@email.com","type":"string"},"card_code":{"example":"my_card_code","type":"string"},"store_external_id":{"example":"ext_madeleine","type":"string"},"ordered_at":{"description":"When the order was purchased (local timezone).","example":"2018-01-12 15:00:00","type":"string","pattern":"^\\d\\d\\d\\d-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9]):([0-9]|[0-5][0-9])$"},"discount_amount":{"example":0.25,"type":"number"},"shipping_amount":{"example":0.75,"type":"number"},"total_price":{"example":1.55,"type":"number"},"tax_amount":{"example":0.55,"type":"number"},"completed":{"description":"Order is purchased or not","example":"false","type":"boolean","default":true},"sales_person":{"example":"John Doe","type":"string"},"currency":{"example":"EUR","type":"string"},"products":{"example":[{"product_id":"10","unit_price":"25","quantity":2,"discount_amount":0,"tax_amount":0,"currency":"EUR","total_line_amount":"50"}],"items":{"properties":{"product_id":{"type":"string"},"unit_price":{"type":"number"},"quantity":{"type":"integer"},"discount_amount":{"type":"number"},"tax_amount":{"type":"number"},"currency":{"type":"string"},"total_line_amount":{"type":"number"}},"type":"object"},"type":"array"},"custom_fields":{"example":[{"name":"foo","value":"bar"},{"name":"foo2","value":"bar2"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"value":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"201":{"description":"Order creation is successful.","examples":{"application\/json":{"external_id":"my_order12348","contact_id":"jdoe@email.com","contact":{"lastname":"Hervet","firstname":"Geoffrey","id":1,"contact_id":"jdoe@email.com"},"created_at":"2018-07-15 18:45:00","ordered_at":"2018-07-15 18:45:00","shipping_amount":0,"discount_amount":0,"total_price":1.55,"tax_amount":0.55,"sales_person":"Mark Watney","currency":"EUR","products":[{"external_id":"10","name":"Color Riche  - Vernis","description":"140 Martinez Cobal","brand":"L\u0027Or\u00e9al Paris","unit_price":10.25,"quantity":2,"discount_amount":0,"tax_amount":0,"currency":"EUR","total_line_amount":20.5}],"loyalty":{"card_code":"C0111191","id_program":2},"store":{"external_id":"2","name":"Champs \u00e9lys\u00e9es","online":false,"store_type":"retail","manager":"Eric Sloane"},"custom_fields":[{"id":0,"name":"id_mail","value":""}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/orders\/{id}":{"delete":{"summary":"Delete an order\/cart","description":"Delete an order or an abandoned cart.","parameters":[{"name":"id","in":"path","required":true,"description":"Order\u0027s external identifier.","type":"string","pattern":".+"}],"responses":{"204":{"description":"Order is successfully deleted.","examples":{"application\/json":[]}},"404":{"description":"Order not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Order not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v1\/orders\/{id}":{"get":{"summary":"Get an order\/cart","description":"Get a order or an abandoned cart data based on its external_id.","parameters":[{"name":"id","in":"path","required":true,"description":"Order\u0027s external identifier.","type":"string","pattern":".+"}],"responses":{"200":{"description":"Order retrieval is successful.","examples":{"application\/json":{"external_id":"my_order12348","contact_id":"jdoe@email.com","contact":{"lastname":"Hervet","firstname":"Geoffrey","id":1,"contact_id":"jdoe@email.com"},"created_at":"2018-07-15 18:45:00","ordered_at":"2018-07-15 18:45:00","shipping_amount":0,"discount_amount":0,"total_price":0.5,"tax_amount":0.2,"sales_person":"Mark Watney","currency":"EUR","products":[{"external_id":"10","name":"Color Riche  - Vernis","description":"140 Martinez Cobal","brand":"L\u0027Or\u00e9al Paris","unit_price":10.25,"quantity":2,"discount_amount":0,"tax_amount":0,"currency":"EUR","total_line_amount":20.5}],"loyalty":{"card_code":"C0111191","id_program":2},"store":{"external_id":"2","name":"Champs \u00e9lys\u00e9es","online":false,"store_type":"retail","manager":"Eric Sloane"},"custom_fields":[{"id":0,"name":"id_mail","value":""}]}}},"404":{"description":"Order not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Order not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v2\/orders\/{id}":{"get":{"summary":"Get an order\/cart with its status","description":"Get a order or an abandoned cart based on its external_id, and get the status associated to the order as well.","parameters":[{"name":"id","in":"path","required":true,"description":"Order\u0027s external identifier.","type":"string","pattern":".+"}],"responses":{"200":{"description":"Order retrieval is successful.","examples":{"application\/json":{"external_id":"my_order12348","contact_id":"jdoe@email.com","contact":{"lastname":"Hervet","firstname":"Geoffrey","id":1,"contact_id":"jdoe@email.com"},"created_at":"2018-07-15 18:45:00","ordered_at":"2018-07-15 18:45:00","shipping_amount":0,"discount_amount":0,"total_price":0.5,"tax_amount":0.2,"sales_person":"Mark Watney","currency":"EUR","products":[{"external_id":"10","name":"Color Riche  - Vernis","description":"140 Martinez Cobal","brand":"L\u0027Or\u00e9al Paris","unit_price":10.25,"quantity":2,"discount_amount":0,"tax_amount":0,"currency":"EUR","status":"paid","total_line_amount":20.5}],"loyalty":{"card_code":"C0111191","id_program":2},"store":{"external_id":"2","name":"Champs \u00e9lys\u00e9es","online":false,"store_type":"retail","manager":"Eric Sloane"},"custom_fields":[{"id":0,"name":"id_mail","value":""}],"status":"paid","status_lastupdate":"2018-07-15 18:45:00"}}},"404":{"description":"Order not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Order not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v3\/orders\/{id}":{"patch":{"summary":"Edit an order\/cart","description":"Edit an entire order or an abandoned cart with its custom fields.","parameters":[{"name":"id","in":"path","required":true,"description":"Order\u0027s external identifier.","type":"string","pattern":".+"},{"name":"payload","in":"body","required":true,"description":"Order data.","schema":{"properties":{"contact_id":{"example":"jdoe@email.com","type":"string"},"store_external_id":{"example":"ext_madeleine","type":"string"},"ordered_at":{"description":"When the order was purchased (local timezone).","example":"2018-01-12 15:00:00","type":"string","pattern":"^\\d\\d\\d\\d-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9]):([0-9]|[0-5][0-9])$"},"discount_amount":{"example":0.25,"type":"number"},"shipping_amount":{"example":0.75,"type":"number"},"total_price":{"example":1.55,"type":"number"},"tax_amount":{"example":0.55,"type":"number"},"sales_person":{"example":"John Doe","type":"string"},"completed":{"description":"Order is purchased or not","example":"false","type":"boolean"},"currency":{"example":"EUR","type":"string"},"products":{"description":"empty array will erase existing order lines. In order to avoid deleting data, either don\u0027t specify \u0027products\u0027 or set it to null","example":[{"product_id":"10","unit_price":"25","quantity":2,"discount_amount":0,"tax_amount":0,"currency":"EUR","total_line_amount":"50"}],"items":{"properties":{"product_id":{"type":"string"},"unit_price":{"type":"number"},"quantity":{"type":"integer"},"discount_amount":{"type":"number"},"tax_amount":{"type":"number"},"currency":{"type":"string"},"total_line_amount":{"type":"number"}},"type":"object"},"type":"array"},"custom_fields":{"description":"custom fields is patched too so you can only set some of them, other custom fields will not be changed","example":[{"name":"foo","value":"bar"},{"name":"foo2","value":"bar2"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"value":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"200":{"description":"Order data.","examples":{"application\/json":{"external_id":"my_order12348","contact_id":"jdoe@email.com","contact":{"lastname":"Hervet","firstname":"Geoffrey","id":1,"contact_id":"jdoe@email.com"},"created_at":"2018-07-15 18:45:00","ordered_at":"2018-07-15 18:45:00","shipping_amount":0,"discount_amount":0,"total_price":1.55,"tax_amount":0.55,"sales_person":"Mark Watney","currency":"EUR","products":[{"external_id":"10","name":"Color Riche  - Vernis","description":"140 Martinez Cobal","brand":"L\u0027Or\u00e9al Paris","unit_price":10.25,"quantity":2,"discount_amount":0,"tax_amount":0,"currency":"EUR","total_line_amount":20.5}],"loyalty":{"card_code":"C0111191","id_program":2},"store":{"external_id":"2","name":"Champs \u00e9lys\u00e9es","online":false,"store_type":"retail","manager":"Eric Sloane"},"custom_fields":[{"id":0,"name":"id_mail","value":""}]}}},"404":{"description":"Order not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Order not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v1\/orders\/abandoned":{"get":{"summary":"List abandoned carts","description":"Get the list of abandoned carts.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of field, operator and searched value. It will return abandoned carts that matched your search. Fields available on search in abandoned carts are \u0027external_id\u0027, \u0027shipping_amount\u0027, \u0027discount_amount\u0027, \u0027total_price\u0027, \u0027tax_amount\u0027, \u0027currency\u0027, \u0027sales_person\u0027, \u0027created_at\u0027, \u0027ordered_at\u0027 and custom fields numbers (0, 1, 2, ...)","items":{"example":[{"key":"external_id","operator":"equal","value":"CGX00000945842"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["external_id","shipping_amount","discount_amount","total_price","tax_amount","currency","sales_person","created_at","ordered_at"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array"}],"responses":{"200":{"description":"Abandoned carts retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"sort":{"id":"ASC"},"elements":[{"external_id":3,"created_at":"2017-12-26 10:09:12","ordered_at":null,"shipping_amount":15.24,"discount_amount":0,"total_price":1337.42,"tax_amount":0.42,"currency":"EUR","sales_person":"John Doe","contact":{"id":5,"contact_id":"jdoe@email.com","name":"Doe","firstname":"John"},"store":null,"custom_fields":[{"id":0,"name":"id_mail","value":"S2G1190284746300227"},{"id":1,"name":"id_lien","value":"N1190284R746383111"}]}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v2\/orders":{"get":{"summary":"List orders with their status","description":"Get the list of orders with their status.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of field, operator and searched value. It will return orders that matched your search. Fields available on search in orders are \u0027external_id\u0027, \u0027shipping_amount\u0027, \u0027discount_amount\u0027, \u0027total_price\u0027, \u0027tax_amount\u0027, \u0027currency\u0027, \u0027sales_person\u0027, \u0027created_at\u0027, \u0027ordered_at\u0027 and custom fields numbers (0, 1, 2, ...)","items":{"example":[{"key":"external_id","operator":"equal","value":"CGX00000945842"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["external_id","shipping_amount","discount_amount","total_price","tax_amount","currency","sales_person","created_at","ordered_at"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array"}],"responses":{"200":{"description":"Orders retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"sort":{"id":"desc"},"elements":[{"external_id":3,"created_at":"2017-12-26 10:09:12","ordered_at":"2017-12-26 10:09:12","shipping_amount":15.24,"discount_amount":0,"total_price":1337.42,"tax_amount":0.5,"currency":"EUR","sales_person":"John Doe","contact":{"id":5,"contact_id":"jdoe@email.com","name":"Doe","firstname":"John"},"store":{"external_id":"5","name":"champs \u00e9lys\u00e9e"},"custom_fields":[{"id":0,"name":"id_mail","value":"S2G1190284746300227"},{"id":1,"name":"id_lien","value":"N1190284R746383111"}],"status":"paid","status_lastupdate":"2018-07-15 18:45:00"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v1\/products":{"get":{"summary":"List products","description":"Get the list of products.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of field, operator and searched value. It will return products that matched your search. Fields available on search in products are \u0027external_id\u0027, \u0027name\u0027, \u0027brand\u0027, \u0027price\u0027 and custom fields numbers (0, 1, 2, ...)","items":{"example":[{"key":"name","operator":"equal","value":"Gloss"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["external_id","name","brand","price","c0","c1"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array"}],"responses":{"200":{"description":"Products retrieval is successful.","examples":{"application\/json":{"count_element":1,"current_page":1,"per_page":50,"sort":{"id":"desc"},"elements":[{"external_id":"1","name":"Product Name","description":"Description","brand":"Brand","category":"Product category","price":20,"created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0","data_type":"text"},{"id":1,"name":"custom field 1","value":"","data_type":"double"}]}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]},"post":{"summary":"Create a product","description":"Create a product.","parameters":[{"name":"payload","in":"body","required":true,"description":"Product data.","schema":{"required":["external_id"],"properties":{"external_id":{"example":"my_product_123","type":"string"},"name":{"example":"Saint Germain Product","type":"string"},"description":{"example":"Description","type":"string"},"brand":{"example":"Louis Vutton","type":"string"},"price":{"example":1,"type":"number"},"sku":{"example":"8120725247","type":"string"},"img_url":{"example":"https:\/\/test.com\/image.png","type":"string"},"category":{"example":"Category","type":"string"},"custom_fields":{"example":[{"name":"foo","value":"bar"},{"name":"foo2","value":"bar2"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"value":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"201":{"description":"Product data.","examples":{"application\/json":{"external_id":"1","name":"Product Name","description":"Description","brand":"Brand","sku":"8120725247","category":"Category","img_url":"https:\/\/test.com\/image.png","price":1,"created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0","data_type":"text"},{"id":1,"name":"custom field 1","value":"","data_type":"double"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/products\/{id}":{"delete":{"summary":"Delete a product","description":"Delete product.","parameters":[{"name":"id","in":"path","required":true,"description":"Product\u0027s external identifier.","type":"string","pattern":".+"}],"responses":{"204":{"description":"Product is successfully deleted.","examples":{"application\/json":[]}},"404":{"description":"Product not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Product not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v1\/products\/{id}":{"get":{"summary":"Get a product","description":"Get a product data.","parameters":[{"name":"id","in":"path","required":true,"description":"Product\u0027s external identifier.","type":"string","pattern":".+"}],"responses":{"200":{"description":"Product data.","examples":{"application\/json":{"external_id":"111","name":"Product Name","description":"Description","brand":"Brand","price":1,"created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0"},{"id":1,"name":"custom field 1","value":"Valeur 1"}]}}},"404":{"description":"Product not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Product not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]},"patch":{"summary":"Edit a product","description":"Edit a product.","parameters":[{"name":"id","in":"path","required":true,"description":"Product\u0027s external identifier.","type":"string","pattern":".+"},{"name":"payload","in":"body","required":true,"description":"Product data.","schema":{"properties":{"name":{"example":"Saint Germain Product","type":"string"},"description":{"example":"Description","type":"string"},"brand":{"example":"Louis Vutton","type":"string"},"price":{"example":1,"type":"number"},"sku":{"example":"8120725247","type":"string"},"img_url":{"example":"https:\/\/test.com\/image.png","type":"string"},"category":{"example":"Category","type":"string"},"custom_fields":{"example":[{"name":"foo","value":"bar"},{"name":"foo2","value":"bar2"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"value":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"200":{"description":"Product data.","examples":{"application\/json":{"external_id":"1","name":"Product Name","description":"Description","brand":"Brand","sku":"8120725247","category":"Category","img_url":"https:\/\/test.com\/image.png","price":1,"created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0"},{"id":1,"name":"custom field 1","value":"Valeur 1"}]}}},"404":{"description":"Product not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Product not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v1\/stores":{"get":{"summary":"List stores","description":"Get the list of stores.","parameters":[{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of field, operator and searched value. It will return stores that matched your search. Fields available on search in stores are \u0027external_id\u0027, \u0027name\u0027, \u0027online\u0027, \u0027store_type\u0027, \u0027manager\u0027 and custom fields numbers (0, 1, 2, ...)","items":{"example":[{"key":"name","operator":"equal","value":"Retail Opera"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["external_id","name","online","store_type","manager"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array"}],"responses":{"200":{"description":"Get Stores List.","examples":{"application\/json":{"count_element":1,"current_page":1,"per_page":50,"sort":{"id":"desc"},"elements":[{"external_id":"9","name":"Mystore 9","online":false,"store_type":"","manager":"","created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0","data_type":"text"},{"id":1,"name":"custom field 1","value":"","data_type":"double"}]}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]},"post":{"summary":"Create a store","description":"Create a store.","parameters":[{"name":"payload","in":"body","required":true,"description":"Store data.","schema":{"required":["external_id","name"],"properties":{"external_id":{"example":"my_store_123","type":"string"},"name":{"example":"Saint Germain Store","type":"string"},"online":{"example":"false","type":"boolean"},"store_type":{"example":"Magento","type":"string"},"manager":{"example":"John Doe","type":"string"},"custom_fields":{"example":[{"name":"foo","value":"bar"},{"name":"foo2","value":"bar2"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"value":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"201":{"description":"Store creation is successful.","examples":{"application\/json":{"external_id":"1","name":"Store Name","online":false,"store_type":"Magento","manager":"John Doe","created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0","data_type":"text"},{"id":1,"name":"custom field 1","value":"","data_type":"double"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/stores\/{id}":{"delete":{"summary":"Delete a store","description":"Delete store data.","parameters":[{"name":"id","in":"path","required":true,"description":"Store\u0027s external identifier.","type":"string","pattern":".+"}],"responses":{"204":{"description":"Store is successfully deleted.","examples":{"application\/json":[]}},"404":{"description":"Store not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Store not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v1\/stores\/{id}":{"get":{"summary":"Get a store","description":"Get a store data based on its ext_id.","parameters":[{"name":"id","in":"path","required":true,"description":"Store\u0027s identifier.","type":"string","pattern":".+"}],"responses":{"200":{"description":"Store retrieval is successful.","examples":{"application\/json":{"external_id":"1","name":"Store Name","online":false,"store_type":"Magento","manager":"John Doe","created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0","data_type":"text"},{"id":1,"name":"custom field 1","value":"","data_type":"double"}]}}},"404":{"description":"Store not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"ext_id","error":"wrong_value","error_description":"Store not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/v2\/stores\/{id}":{"patch":{"summary":"Edit a store","description":"Edit a store.","parameters":[{"name":"id","in":"path","required":true,"description":"Store\u0027s external identifier.","type":"string","pattern":".+"},{"name":"payload","in":"body","required":true,"description":"Store data.","schema":{"properties":{"name":{"example":"Saint Germain Store","type":"string"},"online":{"example":false,"type":"boolean"},"store_type":{"example":"retail","type":"string"},"manager":{"example":"John Doe","type":"string"},"custom_fields":{"description":"custom fields is patched too so you can only set some of them, other custom fields will not be changed","example":[{"name":"foo","value":"bar"},{"name":"foo2","value":"bar2"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"value":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"200":{"description":"Store data.","examples":{"application\/json":{"external_id":"External ID","name":"Store Name","online":false,"store_type":"retail","manager":"John Doe","created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0","data_type":"text"},{"id":1,"name":"custom field 1","value":"Valeur 1","data_type":"text"}]}}},"404":{"description":"Store not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"id","error":"wrong_value","error_description":"Store not found for id XXXXX."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Sales data"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/{id}\/lists\/subscribe":{"post":{"summary":"Subscribe a contact to list(s)","description":"Subscribe a contact to one or more lists.","parameters":[{"name":"id","in":"path","required":true,"description":"Contact unique key.","type":"string","pattern":".+"},{"name":"payload","in":"body","required":true,"description":"Sucessful subscription to list(s).","schema":{"required":["list_ids"],"properties":{"list_ids":{"items":{"type":"integer"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"200":{"description":"Contact has been sucessfully subscribed to the list(s).","examples":{"application\/json":{"lastname":"Doe","firstname":"John","email":"jdoe@splio.com","cellphone":"0612345678","creation_date":"2019-01-03 09:00:00","language":"fr","custom_fields":[{"id":0,"name":"My custom field 1","value":"value1","data_type":"string"}],"lists":[{"id":50,"name":"Liste1"},{"id":51,"name":"Liste2"}]}}},"404":{"description":"Contact not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"id","error":"wrong_value","error_description":"Contact not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/{id}\/lists\/unsubscribe":{"post":{"summary":"Unsubscribe a contact to list(s)","description":"Unsubscribe a contact from one or more lists.","parameters":[{"name":"id","in":"path","required":true,"description":"Contact unique key.","type":"string","pattern":".+"},{"name":"payload","in":"body","required":true,"description":"Sucessful unsubscription from list(s).","schema":{"required":["list_ids"],"properties":{"list_ids":{"items":{"type":"integer"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"200":{"description":"Contact has been sucessfully unsubscribed from the list(s).","examples":{"application\/json":{"lastname":"Doe","firstname":"John","email":"jdoe@splio.com","cellphone":"0612345678","creation_date":"2019-01-03 09:00:00","language":"fr","custom_fields":[{"id":0,"name":"My custom field 1","value":"value1","data_type":"string"}],"lists":[{"id":51,"name":"Liste2"}]}}},"404":{"description":"Contact not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"id","error":"wrong_value","error_description":"Contact not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/{id}\/orders\/abandoned":{"get":{"summary":"Get a contact\u0027s abandoned carts","description":"Get a contact\u0027s abandoned carts formatted as a list.","parameters":[{"name":"id","in":"path","required":true,"description":"Individual external identifier.","type":"string","pattern":".+"},{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of field, operator and searched value. It will return carts that matched your search. Fields available on search in carts are \u0027external_id\u0027, \u0027shipping_amount\u0027, \u0027discount_amount\u0027, \u0027total_price\u0027, \u0027tax_amount\u0027, \u0027currency\u0027, \u0027sales_person\u0027, \u0027created_at\u0027, \u0027ordered_at\u0027 and custom fields numbers (0, 1, 2, ...)","items":{"example":[{"key":"external_id","operator":"equal","value":"CGX00000945842"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["external_id","shipping_amount","discount_amount","total_price","tax_amount","currency","sales_person","created_at","ordered_at"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array"}],"responses":{"200":{"description":"Abandoned carts retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"sort":{"id":"ASC"},"elements":[{"external_id":3,"created_at":"2017-12-26 10:09:12","ordered_at":null,"shipping_amount":15.24,"discount_amount":0,"total_price":1337.42,"tax_amount":0.42,"currency":"EUR","sales_person":"John Doe","store":null,"custom_fields":[{"id":0,"name":"id_mail","value":"S2G1190284746300227"},{"id":1,"name":"id_lien","value":"N1190284R746383111"}]}]}}},"404":{"description":"Contact not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"id","error":"wrong_value","error_description":"Contact not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/{id}\/orders":{"get":{"summary":"Get a contact\u0027s orders","description":"Get a contact\u0027s orders formatted as a list.","parameters":[{"name":"id","in":"path","required":true,"description":"Individual external identifier.","type":"string","pattern":".+"},{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of field, operator and searched value. It will return orders that matched your search. Fields available on search in orders are \u0027external_id\u0027, \u0027shipping_amount\u0027, \u0027discount_amount\u0027, \u0027total_price\u0027, \u0027tax_amount\u0027, \u0027currency\u0027, \u0027sales_person\u0027, \u0027created_at\u0027, \u0027ordered_at\u0027 and custom fields numbers (0, 1, 2, ...)","items":{"example":[{"key":"external_id","operator":"equal","value":"CGX00000945842"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["external_id","shipping_amount","discount_amount","total_price","tax_amount","currency","sales_person","created_at","ordered_at"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array"}],"responses":{"200":{"description":"Orders retrieval is successful.","examples":{"application\/json":{"count_element":2,"current_page":1,"sort":{"id":"desc"},"elements":[{"external_id":3,"created_at":"2017-12-26 10:09:12","ordered_at":"2017-12-26 10:09:12","shipping_amount":15.24,"discount_amount":0,"total_price":1337.42,"tax_amount":0.42,"currency":"EUR","sales_person":"John Doe","store":{"external_id":"5","name":"champs \u00e9lys\u00e9e"},"custom_fields":[{"id":0,"name":"id_mail","value":"S2G1190284746300227"},{"id":1,"name":"id_lien","value":"N1190284R746383111"}]}]}}},"404":{"description":"Contact not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"id","error":"wrong_value","error_description":"Contact not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/{id}\/products":{"get":{"summary":"Get a contact\u0027s products","description":"Get a contact\u0027s products formatted as a list.","parameters":[{"name":"id","in":"path","required":true,"description":"Individual external identifier.","type":"string","pattern":".+"},{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of field, operator and searched value. It will return products that matched your search. Fields available on search in products are \u0027external_id\u0027, \u0027name\u0027, \u0027brand\u0027 and \u0027price\u0027","items":{"example":[{"key":"name","operator":"equal","value":"Gloss"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["external_id","name","brand","price"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array"}],"responses":{"200":{"description":"Products retrieval is successful.","examples":{"application\/json":{"count_element":1,"current_page":1,"per_page":50,"sort":{"id":"desc"},"elements":[{"external_id":"1","name":"Product Name","description":"Description","brand":"Brand","category":"Product category","price":20,"created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0","data_type":"text"},{"id":1,"name":"custom field 1","value":"","data_type":"double"}]}]}}},"404":{"description":"Contact not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"id","error":"wrong_value","error_description":"Contact not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/{id}\/stores":{"get":{"summary":"Get a contact\u0027s stores","description":"Get a contact\u0027s stores formatted as a list.","parameters":[{"name":"id","in":"path","required":true,"description":"Individual external identifier.","type":"string","pattern":".+"},{"name":"per_page","in":"query","required":false,"description":"Number of items displayed per page.","type":"integer","default":50,"maximum":1000,"minimum":1},{"name":"page_number","in":"query","required":false,"description":"Page number.","type":"integer","default":1,"minimum":1},{"name":"fields","in":"query","required":false,"description":"Use a combination of field, operator and searched value. It will return stores that matched your search. Fields available on search in stores are \u0027external_id\u0027, \u0027name\u0027, \u0027online\u0027, \u0027store_type\u0027, \u0027manager\u0027 and custom fields numbers (0, 1, 2, ...)","items":{"example":[{"key":"name","operator":"equal","value":"Retail Opera"}],"properties":{"key":{"description":"search fields, in contacts","type":"string","enum":["external_id","name","online","store_type","manager"]},"operator":{"description":"operator for search operators are limited by the type of value expected","type":"string","enum":["is","after","before","contains","ends","equal","greater","isnot","lower","notequal","starts"]},"value":{"type":"string"}},"type":"object"},"type":"array"}],"responses":{"200":{"description":"Get Stores List.","examples":{"application\/json":{"count_element":1,"current_page":1,"per_page":50,"sort":{"id":"desc"},"elements":[{"external_id":"9","name":"Mystore 9","online":false,"store_type":"","manager":"","created_at":"2019-02-15 12:55:00","updated_at":"2019-02-22 17:12:15","custom_fields":[{"id":0,"name":"custom field 0","value":"Valeur 0","data_type":"text"},{"id":1,"name":"custom field 1","value":"","data_type":"double"}]}]}}},"404":{"description":"Contact not found.","examples":{"application\/json":{"status":404,"errors":[{"error_key":"id","error":"wrong_value","error_description":"Contact not found for given identifier."}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/{individual_id}":{"get":{"summary":"Get a contact","description":"Get a contact.","parameters":[{"name":"individual_id","in":"path","required":true,"description":"contact unique key.","type":"string","pattern":".+"},{"name":"key","in":"query","required":false,"description":"Key used to fetch contact (default unique_key)","type":"string","enum":["unique_key","internal_id"]}],"responses":{"200":{"description":"contact retrieval is successful.","examples":{"application\/json":{"id":1,"lastname":"Doe","firstname":"John","email":"jdoe@personal.com","cellphone":"","creation_date":"2019-01-03","language":"fr","custom_fields":[{"id":0,"name":"civility","value":"mr","data_type":""}],"loyalty":[{"card_code":"jdoe_cardcode","id_program":"1"}],"lists":[{"id":50,"name":"List1"},{"id":51,"name":"List2"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]},"patch":{"summary":"Edit a contact","description":"Edit a contact.","parameters":[{"name":"individual_id","in":"path","required":true,"description":"contact unique key.","type":"string","pattern":".+"},{"name":"body","in":"body","required":true,"description":"Individual data.","schema":{"description":"Following the configuration set on the universe, the email OR cellphone OR unique_key can\u0027t be modified","properties":{"key":{"description":"Key used to resolve the contact (default unique_key). Use internal_id to lookup by database ID.","example":"unique_key","type":"string","enum":["unique_key","internal_id"]},"lastname":{"example":"Doe","type":"string"},"firstname":{"example":"John","type":"string"},"creation_date":{"description":"This date of creation of this contact, will be used for trigger campaigns, Ex: Welcome email. Warning the timezone set for this date is the user api timezone and not the system timezone.","example":"2018-01-24 15:00:00","type":"string","pattern":"^\\d\\d\\d\\d-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9]):([0-9]|[0-5][0-9])$"},"language":{"description":"en, fr, it, es, ...","example":"en","type":"string"},"email":{"example":"jdoe@mysite.com","type":"string"},"cellphone":{"example":"+331122334455","type":"string"},"lists":{"description":"All current memberships of the contact will be removed and replaced by the ones given there. If you want to add or remove only specific list, please use end points \/subscribe or \/unsubscribe","example":[{"id":25,"name":"newsletter shoes"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"}},"type":"object"},"type":"array"},"double_optin":{"description":"[Optional] **Require subscribers to confirm their subscription by sending a confirmation request.**\u003Cbr \/\u003E\n     \u003Cbr \/\u003E\n     **Legacy Version**\u003Cbr \/\u003E\n     - `message`: id of the message that must be sent. This message must contain a link to $confirmUrl$\u003Cbr \/\u003E\n     - `reminder`: id of the reminder message. This message must contain $confirmUrl$ as well.\u003Cbr \/\u003E\n     - `reminder_delay`: if you want a reminder to be sent, specify the number of days between the first message and the reminder.\u003Cbr \/\u003E\n     ```\n     {\n          \u0022message\u0022: \u0022aw94xefgh\u0022,\n          \u0022reminder\u0022: \u002294was76ef\u0022,\n          \u0022reminder_delay\u0022: 34\n     }\n     ```\n     \u003Cbr \/\u003E\n     **Splio Edition 2025**\u003Cbr \/\u003E\n     - `enabled`: Enable double optin\u003Cbr \/\u003E\n     ```\n     {\n          \u0022enabled\u0022: true\n     }```","type":"object"},"custom_fields":{"example":[{"name":"foo","value":"bar"},{"name":"foo2","value":"bar2"}],"items":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"value":{"description":"The custom field value, can be an integer, a float, a string or a date at format YYYY-MM-DD HH:MM:SS, depending on the configuration of the custom field","type":"string"}},"type":"object"},"type":"array"},"tracking_consent":{"description":"[Optional] Track consent events for this contact. Each entry records a consent state change. The date is interpreted in the universe timezone.","example":[{"channel":"email","scope":"open","enabled":true,"date":"2026-07-01 10:00:00"}],"items":{"properties":{"channel":{"description":"Consent channel. Currently only \u0027email\u0027 is supported.","example":"email","type":"string"},"scope":{"description":"Consent scope. Currently only \u0027open\u0027 is supported.","example":"open","type":"string"},"enabled":{"description":"Consent state: true = opted in, false = opted out.","example":true,"type":"boolean"},"source":{"description":"[Optional] Source of the consent action.","example":"shopify","type":"string"},"date":{"description":"[Optional] Date of the consent action in format YYYY-MM-DD HH:mm:ss (universe timezone). Defaults to current date if not provided.","example":"2026-07-01 10:00:00","type":"string"}},"type":"object"},"type":"array"}},"type":"object"}}],"responses":{"200":{"description":"contact edition is successful.","examples":{"application\/json":{"id":1,"lastname":"Doe","firstname":"John","email":"jdoe@personal.com","cellphone":"","creation_date":"2018-01-24 15:00:00","language":"fr","custom_fields":[{"id":0,"name":"civility","value":"mr","data_type":""}],"lists":[{"id":50,"name":"List1"},{"id":51,"name":"List2"}]}}},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/data\/contacts\/{id}":{"delete":{"summary":"Delete a contact","description":"Delete a contact.","parameters":[{"name":"id","in":"path","required":true,"description":"contact unique key.","type":"string","pattern":".+"}],"responses":{"204":{"description":"deletion is successful."},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"field_1","error":"wrong_value","error_description":"The request was malformed and it is unable to be processed. Please review and try again."}]}},"x-readme":"BODYBODY"},"401":{"description":"Authentication failed."},"403":{"description":"Forbidden."}},"tags":["Contact"],"security":[{"Bearer":[]}]}},"\/loyalty\/members":{"post":{"summary":"Create a member","description":"Add a new member to a loyalty program.","parameters":[{"name":"payload","in":"body","required":true,"description":"Add a member on a loyalty program.","schema":{"required":["program_id"],"properties":{"program_id":{"example":1,"type":"integer"},"contact_id":{"description":"The unique_key of your universe: email, cellphone or custom.","example":"jdoe@yopmail.com","type":"string"},"card_code":{"example":"my_card_1234","type":"string"},"card_expire_at":{"description":"The expiration date of subscription.","example":"2018-01-12 15:00:00","type":"string","pattern":"^\\d\\d\\d\\d-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9]):([0-9]|[0-5][0-9])$"},"birthday":{"description":"the birthday date for card code.","example":"2018-01-12","type":"string","format":"date"},"program_joined_at":{"description":"the subscription external date.","example":"2018-01-12 15:00:00","type":"string","pattern":"^\\d\\d\\d\\d-(0?[1-9]|1[0-2])-(0?[1-9]|[12][0-9]|3[01]) (00|[0-9]|1[0-9]|2[0-3]):([0-9]|[0-5][0-9]):([0-9]|[0-5][0-9])$"},"forced_tier_name":{"description":"force the setting of member tier from given tier name (you can also use vip tier name)","example":"Tier #1","type":"string"},"custom_fields":{"items":{"$ref":"#\/definitions\/CustomField"},"type":"array"}},"type":"object"},"type":"object"}],"responses":{"201":{"description":"Loyalty subscription creation is successful.","examples":{"application\/json":{"id":9,"card_code":"my_card_1235","tier_joined_at":null,"program_join_at":null,"card_expire_at":null,"computed_at":null,"q_point":0,"nq_point":0,"birthday":"1979-07-12","individual":null,"program":{"id":1,"name":"Flying Blue","description":"","type":"simple","status":"running","start_at":"2018-01-05 00:00:00","end_at":null,"created_at":"2018-01-01 00:00:00","updated_at":"2018-01-01 00:00:00","cascading":false,"downgrade_nb_rank":null,"max_q_points":null,"max_nq_points":null,"default_q_points_validity_id_period":1,"default_q_points_validity_days":null,"default_q_points_holding_days":0,"default_nq_points_validity_id_period":null,"default_nq_points_validity_days":60,"default_nq_points_holding_days":60,"rounding_type":"round","default_points_to_amount_ratio":10,"auto_generated_card_code":false,"use_all_orders":false,"user":null},"tier":{"id":1,"name":"Silver","created_at":"2017-11-23 18:01:57","updated_at":"2018-02-19 11:15:26","entry_threshold":100,"downgrade_threshold":200,"multiplier_q_points":1.5,"multiplier_nq_points":1.75}}}},"409":{"description":"Failed to generate a card code."},"400":{"description":"The request validation failed.","examples":{"application\/json":{"status":400,"errors":[{"error_key":"fi
[...]
